<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988029776739-fqm0qe9dvn53qfuu7cj9d4c232io6ctp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988029776739-fqm0qe9dvn53qfuu7cj9d4c232io6ctp</string>
	<key>API_KEY</key>
	<string>AIzaSyDn7m3sdIVz9s4l5MjA5bQbazkcaWC29dc</string>
	<key>GCM_SENDER_ID</key>
	<string>988029776739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tsinfosec.ebook.ebook</string>
	<key>PROJECT_ID</key>
	<string>tratri-official</string>
	<key>STORAGE_BUCKET</key>
	<string>tratri-official.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988029776739:ios:5348a03f618ba82f699956</string>
</dict>
</plist>