<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.applesignin</key>
	<array>
		<string>Default</string>
	</array>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<!-- Associated domains for Universal Links. Make sure your apple-app-site-association file is correctly configured on these domains. -->
		<string>applinks:tratri.in</string>
		<string>applinks:www.tratri.in</string>
		<!-- Add webcredentials for better integration -->
		<string>webcredentials:tratri.in</string>
		<string>webcredentials:www.tratri.in</string>
	</array>
</dict>
</plist>