<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>XamCampus.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>7</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
				<key>dateExpires</key>
				<string>20/03/27</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CFNetworkSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.15</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreeAnalyticsSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.15</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreePG.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreePGCoreSDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CashfreePGUISDK.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.9</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.19</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DTTJailbreakDetection.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>2.4.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>12.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>12.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>12.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>12.8.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>8.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Razorpay.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RazorpayCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>RazorpayStandard.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.5.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.21.7</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>connectivity_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_cashfree_pg_sdk.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>10.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>3.30910.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>razorpay_flutter.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.10</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>safe_device.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_darwin.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BAC548AFBB1071F034213CE0C85FB7F9938388FB</string>
						<key>dateExpires</key>
						<string>20/03/27</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>BAH4BK6A87</string>
						<key>name</key>
						<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>BAH4BK6A87.com.xamtech.xamcampus.studentApp</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>BAH4BK6A87</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>e375f553-5306-4211-873c-cf68ae1caa22</string>
				<key>dateExpires</key>
				<string>20/03/27</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: com.xamtech.xamcampus.studentApp</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>BAH4BK6A87</string>
				<key>name</key>
				<string>XAMTECH INNOVATION PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.6</string>
		</dict>
	</array>
</dict>
</plist>
